.setbg{
    font-weight: #D3E6D6; 
    --background: url(../../../../assets/img/challenge-connect.jpg) 0 0/100% 100% no-repeat;
  }
  .txt-danger{
    color: red;
    font-size: 12px;
    text-align:center;
  }
  .hide{
    display: none;
  }
  ion-item {
    margin-top   : 1px;
    --color: #013044;
    border-bottom: 1px solid #016900;
  }