<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/home"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
        Change Password
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-background">
   <style>
     .is-invalid {
       border-bottom: 1px solid red !important;
     }
   </style>
   <ion-card style="padding: 10px; box-shadow: none; background: white;" color="light">
    <!-- <h3 style="text-align: center;">Change Password</h3> -->
     <form>
         <ion-item [class.is-invalid]="!IsValid_currPass">
           <ion-label position="floating">Current Password</ion-label>
           <ion-input type="password" name="currPass" (ionChange)="Validate_currPassword()" [(ngModel)]="CurrPassword"></ion-input>
         </ion-item>
         <ion-item [class.is-invalid]="!IsValid_password">
           <ion-label position="floating">New Password</ion-label>
           <ion-input type="password" name="newPass" [(ngModel)]="password" (ionChange)="Validate_password()"></ion-input>
         </ion-item>
         <div [class.hide]="IsValid_password" style="background-color: white;" class="txt-danger">password should be 6 or more characters long</div>
         <ion-item  [class.is-invalid]="!IsValid_confPass">
           <ion-label position="floating">Confirm Password</ion-label>
           <ion-input type="password" name="confPass" [(ngModel)]="confPassword" (ionChange)="Validate_confPass()"></ion-input>
         </ion-item>
     </form>
     <br />
     <div class="card-footer" style="text-align: center;">
       <ion-button (click)="ChangePass()" style="--background: #0070a0;">Submit</ion-button>
     </div>
   </ion-card>
   <div class="logo-background">
    <img src="../../assets/img/Quiz2shine logo5.jpg">
  </div>
</ion-content>