<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/login"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
      Forgot Password
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-background">
   <style>
     .is-invalid {
       border-bottom: 1px solid red !important;
     }
   </style>
   <ion-card style="padding: 10px;" color="light">
     <form>
         <ion-item [class.is-invalid]="!IsValid_email">
           <ion-label position="floating">Enter email used during registration</ion-label>
           <ion-input type="email" name="email" (ionChange)="Validate_email()" [(ngModel)]="email"></ion-input>
         </ion-item>
     </form>
     <br />
     <div class="card-footer" style="text-align: center;">
       <ion-button (click)="ForgotPass()" style="--background: #0070a0;">Submit</ion-button>
     </div>
   </ion-card>
</ion-content>