.setbg{
    font-weight: #D3E6D6; 
    --background: url(../../../../assets/img/challenge-connect.jpg) 0 0/100% 100% no-repeat;
  }
  .hide {
      display: none;
  }
  .show{
      display: block;
  }
  ion-segment-button{
    --background: #ef9240;
    --background-checked: #d48800;
    --color: #63360e;
    --color-checked: #8c2d00;
    font-weight: 600;
    --border-color: #865411;
  }
  .group-name{
      --background: transparent;
        ion-input{
            background-color: #fdeca5;
            padding: 0px 15px !important;
            margin: 10px 0px;
        }
        .icon-group-chk{
            color: #aea557;
            position: absolute;
            z-index: 100;
            right: 18px;
        }
    }
    .buttons{
        text-align: center;
        ion-button{
            border-style: outset;
            border-color:#256566;
        }
    }
  ion-list{
      background-color: transparent;
      ion-item{
        --background:#feffff;
        color:#1a3e14 !important;
      }
  }
  ion-icon.userAvatar  {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
  }
  .user-name{
      font-size: 15px;
  }
  .school {
      font-size: 12px;
  }
  .avatar-color {
      color: green;
  }
  .send-all-warning {
    margin-top: 12px;
    width: 80%;
    margin-left: 10%;
    font-family: serif;
    box-shadow: 0px 0px 4px 1px grey;
    --background: #b7e7f3;
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
  }