<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/login"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
        About Us
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-background">
  <p>We are a team of seasoned professionals with cumulative experience of over 50 years in Fortune 500 corporates.</p>

  <p>As parents we felt the need for a digital platform that would test our child’s learning in a scientific manner rather than following the traditional ways of preparation in an unstructured way.In order to address this need, the idea of Test2Shine was born. Headquartered in Mumbai, we continuously engage with educationists, students, parents and schools to understand how we can improve our platform to drive efficiency in teaching and learning methods.</p>

  <h3>Inderpal Singh</h3>
  <h5>Cofounder and Director</h5>
  <p>An MBA from The Institute of Finance and International Management , Bengaluru, Inderpal has over 25 years of experience in the financial services sector in the areas of Retail and Corporate finance, Asset management, Portfolio Management and Private Banking. Inderpal has performed senior management roles at leading Multinationals like ITC , Merrill Lynch, ABN Amro Bank and Sun Foreign and Colonial at both National and International levels. Taking forward his legacy of trust, Inderpal manages investment portfolios of high networth clients across the world.</p>
  <p>An avid reader and a globe trotter, Inderpal loves to spend time in the mountains, admiring and living with nature.</p>

  <h3>Prashant Sharma</h3>
  <h5>Cofounder and Director</h5>
  
  <p>An Engineering graduate for Pune University and an MBA from University of Lincoln, UK. Prashant is a passionate researcher in the field of education with focus on Improving teaching efficiency of teachers and learning efficiency of students through technology. Author of the book “The Smarter Student – 20 Proven Smartest ways to Teach and Learn” available on getbettermarks.com</p>
  <p>More than 20 years of solid leadership/consulting roles in global organisations like IBM,CapGemini ,Intel,British Petroleum and Shell including over a decade in the UK as an SAP ERP specialist.</p>
  <p>Outside of work, Prashant loves to run half-marathons and play the guitar.</p>

</ion-content>