<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/login"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
        Verify OTP
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="setbg">
   <style>
     .is-invalid {
       border-bottom: 1px solid red !important;
     }
   </style>
   <ion-card style="padding: 10px;" color="light">
    <h3 style="text-align: center;">Forgot Password</h3>
     <form>
         <ion-item [class.is-invalid]="!IsValid_otp">
           <ion-label position="floating">Enter OTP</ion-label>
           <ion-input type="text" name="newPass" [(ngModel)]="otp" (ionChange)="Validate_OTP()"></ion-input>
         </ion-item>
         <div [class.hide]="IsValid_otp && (otp === '')" style="background-color: white;" class="txt-danger">OTP do not match</div>
         <div [class.hide]="IsValid_otp && (otp !== '')" style="background-color: white;" class="txt-danger">OTP do not match</div>
         
     </form>
     <br />
     <div class="card-footer" style="text-align: center;">
       <ion-button style="--background: #0070a0;">Verify</ion-button>
     </div>
   </ion-card>
</ion-content>