<ion-header class="header-color">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="header-title">
        Contact Us
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content-background">
      <div class="contact-us">
        <div class="contact">
          <div class="contact-title">Mobile Number</div>
          <div class="contact-details">
            <div style="padding-top: 18px;">
              <ion-icon name="call"></ion-icon>
            </div>
            <div style="padding-left:8px;">
              <div><span>+91-9820233896</span></div>
              <div><span>+91-9711086014</span></div>
              <div><span>+91-9323654529</span></div>
            </div>
            <!-- <ion-icon name="call"></ion-icon>&nbsp;<span>+91-9820233896</span> -->
          </div>
        </div>

        <div class="contact">
          <div class="contact-title">WhatsApp Number</div>
          <div class="contact-details">
            <div style="padding-top: 18px;">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div style="padding-left:8px;">
              <div><span>+91-9820233896</span></div>
              <div><span>+91-9711086014</span></div>
              <div><span>+91-9323654529</span></div>
            </div>
            <!-- <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;<span>+91-3214562132</span> -->
          </div>
        </div>

        <div class="contact">
          <div class="contact-title">Email</div>
          <div class="contact-details">
            <ion-icon name="mail"></ion-icon>&nbsp;<span>inderpal@smartscoreanalytics.com</span>
          </div>
        </div>

      </div>
      <div class="logo-background">
        <img src="../../assets/img/Quiz2shine logo5.jpg">
      </div>
  </ion-content>