<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/home"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
        My Friends
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <div class="panel">
    <div class="friends-list">
       <ion-list>
          <ion-item *ngFor="let frnd of Friends; index as i">
             <ion-avatar slot="start">
                <img [src]="frnd.picture" >
                <!--<ion-icon class="userAvatar" name="person"></ion-icon>-->
             </ion-avatar>
             <ion-title>
                <div class="user-name">{{frnd.fname}}</div>
                <div class="school">{{frnd.schoolName}}</div>
             </ion-title>
             <ion-note slot="end"><ion-button (click)="Unfriend(frnd.id)">Unfriend</ion-button></ion-note>
          </ion-item>
          <!--<ion-item>
             <ion-avatar slot="start">
                <img src="">
             </ion-avatar>
             <ion-title>
                <div class="user-name">Kundan Patil</div>
                <div class="school">School Name</div>
             </ion-title>
             <ion-note slot="end">8<sup>th</sup></ion-note>
          </ion-item>
          <ion-item>
             <ion-avatar slot="start">
                <ion-icon class="userAvatar avatar-color" name="checkmark-circle-outline"></ion-icon>
                <ion-icon class="userAvatar" name="person"></ion-icon>
             </ion-avatar>
             <ion-title>
                <div class="user-name">Kundan Patil</div>
                <div class="school">School Name</div>
             </ion-title>
             <ion-note slot="end">8<sup>th</sup></ion-note>
          </ion-item>
          <ion-item>
             <ion-avatar slot="start">
                <ion-icon class="userAvatar avatar-color" name="checkmark-circle-outline"></ion-icon>
                <ion-icon class="userAvatar" name="person"></ion-icon>
             </ion-avatar>
             <ion-title>
                <div class="user-name">Kundan Patil</div>
                <div class="school">School Name</div>
             </ion-title>
             <ion-note slot="end">8<sup>th</sup></ion-note>
          </ion-item>-->
       </ion-list>
    </div>
 </div>
 <div class="logo-background">
   <img src="../../assets/img/Quiz2shine logo5.jpg">
 </div>
</ion-content>