<ion-header class="header-color">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">
      Upgrade Plan
   </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-login setbg content-background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
 </ion-refresher>
  <style>
    
    .is-invalid {
      border-bottom: 1px solid red !important;
    }
    </style>
  <ion-card style="padding: 10px;" color="light">
    <form>
      <h4>Current Subscription Plan</h4>
        <div class="plan-detail">
          <ion-item>
            <ion-label>Selected Subject </ion-label>
           <p>{{competetion_data?.subjects_name}}</p>
          </ion-item>
        </div>
      
        <div class="plan-detail">
          <ion-item>
            <ion-label>Subscription Name</ion-label>
          <p>{{competetion_data?.duration}}</p>
          </ion-item>
        </div>

        <div class="plan-detail">
          <ion-item >
            <ion-label>Subscription Amount</ion-label>
             <p>{{competetion_data?.amount}}</p>
          </ion-item>
        </div>
        <div class="plan-detail">
          <ion-item >
            <ion-label>Registration Date</ion-label>
             <p>{{competetion_data?.competetion_updated_at | date :  "dd/MM/y"}}</p>
          </ion-item>
        </div>

        <div [ngClass]="{'red' : days < 0, 'plan-detail' : days >0}">
          <ion-item >
            <ion-label>Expiry Date</ion-label>
             <p>{{competetion_data?.competetion_expiry_date | date :  "dd/MM/y"}}</p>
          </ion-item>
        </div>

        <h4>Change Subscription Plan</h4>
        <ion-item [class.is-invalid]="!IsValid_subscription">
          <ion-label>Subscription Plan *</ion-label>
          <ion-select value="0" name="subscription" okText="Okay" [(ngModel)]="SubscriptionId" (ionChange)="getSubscription()" cancelText="Dismiss">
            <ion-select-option *ngFor="let duration of DurationList; index as i" value="{{duration.id}}" [disabled]="competetion_data.duration_type > duration.order"  (ionSelect)="Validate_subscription()">{{duration.duration}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="SubscriptionAmount !=0">
          <ion-label>Subscription Amount</ion-label>
          <ion-input type="text" class="text-right" name="SubscriptionAmount" [(ngModel)]="SubscriptionAmount" readonly></ion-input>
        </ion-item>
       
       
    </form>
    <div class="card-footer">
      <ion-button expand="full" [disabled]="submitTouched" (click)="TryRegisterCompetition()" class="btn-register">Upgrade & Pay</ion-button>
    </div>
  </ion-card>
  <div>
      
  </div>
</ion-content>
