
<ion-list padding>
  <ion-item *ngFor="let player of MemberResponses">
    <ion-label><span>P{{player.PlayerIndex}}-</span>&nbsp;{{player.Name}}</ion-label>
    <ion-note slot="end">{{player.Ans}}</ion-note>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Player 2 Name</ion-label>
    <ion-note slot="end">A</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Player 3 Name</ion-label>
    <ion-note slot="end">A</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Player 4 Name</ion-label>
    <ion-note slot="end">A</ion-note>
  </ion-item> -->
</ion-list>