.content-background{
    *{
        color:#013044;
    }
}
p{
    text-align: justify;
    line-height: 22px;
}
ul{
    padding: 0px 17px;
}
.tnc-link{
    font-weight: 700;
}
h3{
    font-size: 17px;
    font-weight: 600;
}