<ion-header class="header-color">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back" defaultHref="/home"></ion-back-button>
     </ion-buttons>
     <ion-title class="header-title">
        Quiz Rules
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-background">
  <ion-card style="height: 83%; box-shadow: none; overflow-y: auto;">
    <ion-card-content>
      <h4>Leaderboard</h4>
        <p>Each subject will have an individual leaderboard under 2 categories</p>
        <ul>
          <li>Friends</li>
          <!-- <li>Groups</li> -->
          <li>Other players</li>
        </ul>
    
       <p><ion-icon name="star"></ion-icon>&nbsp;There will also be an overall leaderboard under each category wherein leaderboard scores of all subjects will be combined.</p>
    <br />
      <h4>Rules for Individual Quizzes</h4>
      <ul>
        <li>Send invitations to friends through email, sms or whats app</li>
        <li>Play with friends, artificial intelligence or other people who may be online</li>
        <li>Each quiz will be of 10 mcq’s with 4 options</li>
        <li>Time limit per mcq. Will be 30 seconds</li>
        <li>A maximum of 3 wins will be counted for each topic in a calendar month</li>
        <li>There will be no negative marking</li>
      </ul>
      <br />
        <h4>Point system- Individual quizzes</h4>
        <table border="1">
          <tr><td>Correct answer</td><td>1 point for each correct answer</td></tr>
          <tr><td>Completion of quiz</td><td>1 point</td></tr>
          <tr><td>Winner of quiz</td><td>5 points in addition to the above</td></tr>
          <tr><td>Refer a friend</td><td>25 points</td></tr>
        </table>

        <p><ion-icon name="star"></ion-icon>&nbsp;In case of a tie, the total time taken to complete the quiz will be considered to declare the winner.</p>
        <br />
      <!-- <h4>Rules for Group quizzes</h4>
      <ul>
      <li>Send invitations to friends and create groups</li>
      <li>A maximum of 5 and a minimum of 2 players can form a group</li>
      <li>Each quiz will be of 10 mcq’s with 4 options</li>
      <li>Time limit per mcq. Will be 30 seconds</li>
      <li>A maximum of 3 wins will be counted for each topic in a calendar month</li>
      <li>There will be no negative marking</li>
      <li>Any member of the group can click the submit button.</li>
      <li>After submit button is pressed, the option that has the most clicks will be chosen</li>
      <li>If all answers are different, i.e. all participants have chosen different options, the answer of the last person will be considered</li>
      <li>If it’s a tie between group members, e.g. if there are 4 members in a group who have answered and two have chosen option A and two have chosen option B, the answer of the pair that answers last will be considered.</li>
    </ul>
    <br />
      <h4>Point system-Group quizzes</h4>
      <table border="1">
      <tr><td>Correct answer</td><td>1 point for each correct answer</td></tr>
      <tr><td>Completion of quiz</td><td>1 point</td></tr>
      <tr><td>Winner of quiz</td><td>5 points in addition to the above</td></tr>
    </table>
    <p><ion-icon name="star"></ion-icon>&nbsp;In case of a tie, the total time taken to complete the quiz will be considered to declare the winner.</p>
     -->
    </ion-card-content>

  </ion-card>
  
  <div class="logo-background">
    <img src="../../assets/img/Quiz2shine logo5.jpg">
  </div>

</ion-content>