<ion-header class="header-color">
   <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button icon="arrow-round-back" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="header-title">
         New Group
      </ion-title>
      <ion-buttons slot="end">
         <ion-button shape="round" (click)="SaveGroup()"><ion-icon name="checkmark"></ion-icon></ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content class="content-background">
   <div class="panel">
      <div class="title-section">
         <ion-item class="group-name">
            <ion-input type="text" minlength="3" maxlength="20" (ionChange)="CheckIfGroupExists()" [(ngModel)]="GroupName" placeholder="Group Name"></ion-input>
            <ion-spinner class="icon-group-chk" [ngClass]="ShowGroupNameLoader?'show':'hide'" name="lines"></ion-spinner>
            <ion-icon class="icon-group-chk" [ngClass]="ShowGroupNameLoader?'hide':'show'" [name]="GroupNameIcon"></ion-icon>
         </ion-item>
      </div>
      <ion-segment style="display: none;">
         <ion-segment-button value="friends" background="primary" (click)="GetAllFriends()">
           <ion-label>Select Friends</ion-label>
         </ion-segment-button>
         <ion-segment-button value="AllFrnds" background="primary" (click)="SendRequestToAll()">
           <ion-label>Send Join Request</ion-label>
         </ion-segment-button>
       </ion-segment>
      <div class="buttons hide">
         <ion-button>Send Join Request</ion-button>
         <ion-button (click)="GetAllFriends()">Select Friends</ion-button>
      </div>
      <div *ngIf="JoiningType == 2">
         <ion-item class="send-all-warning">
            Join request will be sent to all of your friends. Only 4 of them can join the group.
         </ion-item>
      </div>
      <div class="friends-list" *ngIf="JoiningType == 1">
         <ion-list>
            <ion-item *ngFor="let frnd of Friends; index as i" (click)="SelectFriend(frnd.id)">
               <ion-avatar slot="start">
                  <ion-icon class="userAvatar avatar-color" [ngClass]="FrndsSelected[i].icon" name="checkmark-circle-outline"></ion-icon>
                  <img [src]="frnd.picture" [ngClass]="FrndsSelected[i].avatar">
                  <!--<ion-icon class="userAvatar" name="person"></ion-icon>-->
               </ion-avatar>
               <ion-title>
                  <div class="user-name">{{frnd.fname}}</div>
                  <div class="school">{{frnd.schoolName}}</div>
               </ion-title>
               <ion-note slot="end">{{frnd.std}}<sup>th</sup></ion-note>
            </ion-item>
            <!--<ion-item>
               <ion-avatar slot="start">
                  <img src="">
               </ion-avatar>
               <ion-title>
                  <div class="user-name">Kundan Patil</div>
                  <div class="school">School Name</div>
               </ion-title>
               <ion-note slot="end">8<sup>th</sup></ion-note>
            </ion-item>
            <ion-item>
               <ion-avatar slot="start">
                  <ion-icon class="userAvatar avatar-color" name="checkmark-circle-outline"></ion-icon>
                  <ion-icon class="userAvatar" name="person"></ion-icon>
               </ion-avatar>
               <ion-title>
                  <div class="user-name">Kundan Patil</div>
                  <div class="school">School Name</div>
               </ion-title>
               <ion-note slot="end">8<sup>th</sup></ion-note>
            </ion-item>
            <ion-item>
               <ion-avatar slot="start">
                  <ion-icon class="userAvatar avatar-color" name="checkmark-circle-outline"></ion-icon>
                  <ion-icon class="userAvatar" name="person"></ion-icon>
               </ion-avatar>
               <ion-title>
                  <div class="user-name">Kundan Patil</div>
                  <div class="school">School Name</div>
               </ion-title>
               <ion-note slot="end">8<sup>th</sup></ion-note>
            </ion-item>-->
         </ion-list>
      </div>
   </div>
   <div class="logo-background">
      <img src="../../assets/img/Quiz2shine logo5.jpg">
    </div>
</ion-content>