<ion-header class="header-color">
   <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button icon="arrow-round-back" defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="header-title">
         Terms & Conditions
      </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content class="content-background">
   <p style="padding: 5px 18px;">
      The following terms and conditions constitute a valid and binding agreement between you and Smartscore Analytics
      Private Limited (“We”, “Us” Our”) by using, accessing and/or utilizing services provided on our website -
      Quiz2shine
      and/or the applications (the “Platform”). By accessing the Platform, and/or by registering with us, the users of
      the Platform (“You”) signify that you have read and agree to these terms and conditions, including that you
      have read and give unconditional consent to the Privacy Policy which can be found at
      <span class="pp-link" (click)="PrivacyPolicy()">privacy policy</span>, which is incorporated herein as a part of
      the covenant, and that you undertake to be governed by the laws of India.
   </p>

   <p style="padding: 5px 18px; line-height: 20px; font-size: 14px;">PLEASE READ THE TERMS AND CONDITIONS AND THE
      PRIVACY POLICY CAREFULLY BEFORE USING THE PLATFORM AS THEY CONTAIN IMPORTANT INFORMATION REGARDING OUR LEGAL
      RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION
      CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED.</p>

   <p style="padding: 5px 18px;">This is a “Click Wrap Contract”, and by clicking on the “I accept” tab on the pop out
      when you first access the
      Platform and/or by accessing the Platform, you have acknowledged and accepted the terms and conditions and the
      privacy policy of the Platform.</p>

   <ol type="I" style="padding-left: 35px;">
      <!-- ---------------------------Pint 1--------------------------- -->
      <li>
         <h3>DISCLAIMER</h3>
         <ol>
            <li>
               <p>Please note that we offer the information on the Platform on an "As is" basis and the Website
                  disclaims all warranties, either express or implied, including but not limited to the warranties of
                  suitability and fitness of the Services provided on the Platform (“Services”) for any particular
                  purpose. </p>
            </li>
            <li>
               <p>The Website will not be responsible for any damage or loss of any kind direct, indirect, incidental,
                  punitive and consequential arising from the use of or inability to use the Platform, or any
                  third-party link or services, or any material appearing on the Platform. The contents of this Platform
                  are meant to provide educational services to the user/accessor. They are not intended to be, nor is, a
                  form of publicity, advertisement or solicitation of work. </p>
            </li>
            <li>
               <p>We do not control how You can pay or how any refunds may be issued on third party platforms. Please
                  review the third party platforms’ terms of service for additional information. Any charges, fees,
                  taxes etc. levied by any third party platforms including banks, payment gateways, wallets etc. on the
                  payments made to Us are to be borne by You. We do not take any responsibility for such charges, fees,
                  taxes etc.</p>
            </li>
            <li>
               <p>The links to other websites or resources are only for the informational purposes. We do not take any
                  responsibility for the material or information used/accessed by You from the links provided.</p>
            </li>
            <li>
               <p>The specific method, features and Services offered on the Platform may be altered, improved, removed
                  or adapted at any time by the Platform at its sole discretion and without any notice. </p>
            </li>
            <li>
               <p>If you do not agree to be bound by the terms of this Agreement, you may not use or access our
                  Services. We reserve the right to modify this Terms and Conditions at any time, and without prior
                  notice, by posting the amended terms on this Platform. Your continued use of the Platform indicates
                  your acceptance to the amended Terms and Conditions. </p>
            </li>
         </ol>
      </li>
      <!-- ---------------------------Pint 2--------------------------- -->
      <li>
         <h3>ABOUT THE PLATFORM</h3>
         <ol>
            <li>
               <p>We have built a Platform to enable school/college going children to learn in a fun manner. We provide
                  various quizzes which enables the children to test their knowledge in a fun manner. The Platform also
                  enables the children to compete with their friends or an artificial intelligence in order to inculcate
                  a sense of competition while providing learning in a fun manner. For more details, please visit the
                  ‘About Us’ page in the Platform. </p>
            </li>

            <li>
               <p>In order to access and use the features of the Service, You acknowledge and agree that you will have
                  to provide Us with your mobile phone number. You expressly acknowledge and agree that in order to
                  provide the Service, We may periodically access your contact list and/or address book on your mobile
                  device to find and keep track of mobile phone numbers of other users of the Service. When providing
                  your mobile phone number, you must provide accurate and complete information. You hereby give your
                  express consent to Us to access your contact list and/or address book for mobile phone numbers in
                  order to provide and use the Service. For the sake of clarity, We do not collect names, addresses or
                  email addresses of the people from your contact list, just mobile numbers. You must notify Us in
                  writing immediately of any breach of security or unauthorized use of your mobile phone. Although We
                  will not be liable for your losses caused by any unauthorized use of your Account, but You may be
                  liable to indemnify for the losses incurred by Us or others due to such unauthorized use. </p>
            </li>

            <li>
               <p>As part of our Services, We may provide different types of digital items like tickets, coins, credits,
                  avatars, boxes or other virtual items which You may unlock by purchasing a limited license to use or
                  earn a limited license to use. Through these T&C, the You agree that You do not legally ‘own’ the
                  virtual items when You unlock them under Your account or gift it to someone else. Also, the amount of
                  any virtual item does not refer to any credit balance of real currency or its equivalent.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 3--------------------------- -->
      <li>
         <h3>ELIGIBILITY</h3>
         <ol>
            <li>
               <p>You need to be a person who has attained an age of majority as per the legal age in your jurisdiction
                  to be able to use our Platform. If you are under the age of majority (“Child/Children”), you need to
                  register and access our Platform ONLY through your parent /legal guardian. If You are a parent/legal
                  guardian, You agree to be bound by the T&C, as amended and modified from time to time, and will be
                  fully responsible for any acts or omissions of Your Child with respect to the use and access of this
                  Platform.</p>
            </li>

            <li>
               <p>The Platform that we offer are intended for access and use from within India. If You access and use
                  the services from any other country, You do so at your own risk. In such a case, it will be your
                  responsibility to comply with all local laws, rules and regulations.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 4--------------------------- -->
      <li>
         <h3>USER ACCOUNT/ADVISOR ACCOUNT</h3>
         <ol>
            <li>
               <p>In consideration of your use of the Platform, You agree to (a) provide accurate, current and complete
                  information about you as may be prompted by any registration forms on the Platform (“Registration
                  Details”); (b) maintain and promptly update the Registration Details, and any other information you
                  provide to Company, to keep it accurate, current and complete. </p>
            </li>
            <li>
               <p>You are responsible for maintaining the confidentiality of the password that you choose to access and
                  use the Platform ('Account'). Subject to applicable law, you agree to be liable for all uses of your
                  Account whether or not actually authorized by you, including but not limited to uses of your Account
                  to use the Services and/or purchase any Services provided by the Platform. This means that You should
                  not supply your password to anyone who is not authorized to take actions for You.</p>
            </li>
            <li>
               <p>You are prohibited from selling, trading, or otherwise transferring your Account to another party. If
                  You do not agree, you may not use the Services. </p>
            </li>
            <li>
               <p>We reserve the right to suspend or delete Your account if a) you materially or repeatedly breach these
                  T & C; (b) We are required to do so to comply with a legal requirement or a court order; or (c) We
                  believe there has been conduct that creates (or could create) liability or harm to any user, other
                  third party; (d) if You fail to pay for any of the Paid Services provided by the Platform; (e) any
                  such reason as may be communicated to You in writing and providing a cure period of 7 (seven) days. We
                  will notify You the reason for such termination/suspension/deletion of the account.</p>
            </li>
         </ol>
      </li>


      <!-- ---------------------------Pint 5--------------------------- -->
      <li>
         <h3>USER CONTENT</h3>
         <ol>
            <li>
               <p>You may be allowed to create, store and share content including text, videos, software, audio,
                  animations etc. on our Platform. By agreeing to create, store and share such content You agree and
                  certify that You have not violated any copyright or any applicable laws, intellectual property or any
                  third party rights of any person. The Platform does not take any responsibility for any such
                  violations.</p>
            </li>

            <li>
               <p>The Platform may use the content uploaded by You for or in relation to the Services. By agreeing to
                  the T&C, You grant Us a perpetual, irrevocable, royalty free right to use or make changes or to
                  distribute your User Content in all formats (audio, video etc.) now known or later developed without
                  any form of compensation to You. We may also use Your usage patterns/statistics etc. to
                  interpret/develop/distribute new innovations or to improve the existing Services and the related
                  products, if any. </p>
            </li>

            <li>
               <p>You hereby agree that We reserve the right to take down any content uploaded by You if it violates any
                  applicable laws in any jurisdiction, harms any third parties including the users of this Platform,
                  would cause any harm, is inappropriate or is morally opposed. By agreeing to these T&C, You hereby
                  revoke and waive any right to sue Us for such actions.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 6--------------------------- -->
      <li>
         <h3>CONSEQUENCES OF BREACH</h3>
         <ol>
            <li>
               <p>We may immediately issue a warning (not necessarily always, sometime even without a notice) &
                  temporarily suspend, indefinitely suspend or terminate your Account and/or any of your current
                  Services being used if We are unable to verify or authenticate any information You provide to Us or if
                  We suspect any breach of applicable laws by You.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 7--------------------------- -->
      <li>
         <h3>YOUR OBLIGATIONS</h3>
         <ol>
            <li>
               <p><b>Copyrights:</b> When You access the Platform or make a purchase of any of the paid Services on the
                  Platform, you obtain a non-exclusive license to access the Content on the Platform or download the
                  Content on the Platform to your system/device solely for your personal non-commercial use. You may
                  copy the Content to other personal computers in your household solely for personal non-commercial use,
                  but may not reproduce, distribute or use the Content in any other manner. We are not responsible for
                  any claims involving the timeliness, accuracy, completeness, or reliability of the Content you
                  download or otherwise access from or through the Platform. It is the responsibility of the
                  parents/legal guardians to make sure that children below the age of 18 years use the material suitable
                  for use by minors. If You do not meet the foregoing or other applicable requirements, You may not use
                  the Platform.</p>
               <p>For the purposes of these Terms and Conditions read along with the Privacy Policy, “Content” means all
                  information, data, images, photographs, videos, text and other content displayed on the Platform
                  (including within limitation the Third Party Content)</p>
            </li>
            <li>
               <p>Notwithstanding anything above, all the design, the Platform, the Content and the Services, including
                  the software used for the Platform is Our sole property and is protected by intellectual property laws
                  like copyrights and trademarks. We expressly reserve all intellectual property rights in and to
                  Services, Platform and Content and You may not use the Services, Platform or any Content for any
                  purpose other than those set out above.</p>
            </li>
            <li>
               <p><b>Payments:</b> You agree and undertake that you will pay for the paid Services and/or for Purchasing
                  the Content on the Platform in a timely manner using the payment mechanism through various payment
                  gateways available on the Platform, subject to applicable laws. </p>
            </li>
            <li>
               <p><b>Participation in contests:</b> The Platform may host certain contests from time to time. You may
                  participate in such contests as per the rules for each contest. There may be fees charged for such
                  contests which may be used for purposes including but not limited to set up costs, technology costs,
                  operational costs etc. Each contest may have a specified timeline for registration and maximum number
                  of participants. Any fee received for such contests will be non-refundable and You must read the
                  particular terms and conditions for each contest individually. </p>
            </li>
            <li>
               <p><b>Compliance with applicable laws:</b> You must comply with applicable laws in the jurisdiction in
                  which You are domiciled, resident, using the Services from and/or located. We are not responsible for
                  providing advice to You regarding tax and/or other legal matters. You must obtain advice regarding tax
                  and legal matters from the respective experts.</p>
            </li>
            <li>
               <p><b>General obligations:</b> You must not commit any such act that leads to any interference, loss or
                  damage in the working/performance of the Platform, access to Content and for provision of Services.
               </p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 8--------------------------- -->
      <li>
         <h3>LIMITATION OF LIABILITY</h3>
         <ol>
            <li>
               <p>In no event We shall be liable for any damages arising out of the use or inability to use the Content
                  and/or Services on the Platform, even if our authorized representative has been notified orally or in
                  writing of the possibility of such damage. </p>
            </li>
            <li>
               <p>We will exercise reasonable efforts to provide the Content in a timely manner. On occasion, due to any
                  technical error or server slowdown, if any Content or Services are unavailable, as your exclusive and
                  sole remedy, that Services and/or Content will be made available to You within a reasonable time
                  period.</p>
            </li>
            <li>
               <p>You acknowledge and agree that any third party content, opinions, advice, statements, or services or
                  other materials accessed on or through our Platform, are those of the respective third party. You
                  further acknowledge and agree that the Platform may contain or link to third party materials that do
                  not originate with and/or are not under Our control. Accordingly, You agree that We shall not be
                  responsible, and shall have no liability, arising from or related to any third party materials that
                  may be accessed on or through the Platform. </p>
            </li>
            <li>
               <p>In addition to VIII(3), in case any material found on our platform is used/accessed by You and the
                  same eventually qualifies to be an infringed material, you will be solely responsible for any
                  liability which may arise due to its publication/third party usage.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 9--------------------------- -->
      <li>
         <h3>EXCLUSION OF WARRANTIES:</h3>
         <ol>
            <li>
               <p>The Platform, in particular, <u>does not</u> warranty/not give assurance for the following:</p>
               <ol type="a">
                  <li>
                     <p>Your use of the Services will meet your requirements,</p>
                  </li>
                  <li>
                     <p>Your use of the Services will be uninterrupted, timely, secure or free from error,</p>
                  </li>
                  <li>
                     <p>Any information, result provided as a part of or result of the Services are free from error or
                        accurate,</p>
                  </li>
                  <li>
                     <p>Any information obtained by You as a result of your use of the Services will be accurate or
                        reliable,</p>
                  </li>
                  <li>
                     <p>That defects in the operation or functionality of any software provided to you as part of the
                        Services will be corrected, and</p>
                  </li>
                  <li>
                     <p>No result or score, obtained by You from the Platform or through or from the Services shall
                        create any warranty not expressly stated in the terms.</p>
                  </li>
               </ol>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 10--------------------------- -->
      <li>
         <h3>CHANGES TO THE TERMS AND CONDITIONS</h3>
         <ol>
            <li>
               <p>At this Platform, you are bound by the version of the Terms and Conditions as on the date of your
                  visit. The terms of this Agreement may change from time to time, without any notification. You are
                  requested to review the Terms and Conditions from time to time.</p>
            </li>
         </ol>
      </li>


      <!-- ---------------------------Pint 11--------------------------- -->
      <li>
         <h3>TERMINATION</h3>
         <ol>
            <li>
               <p>We, at our sole and absolute discretion and without any notice to You, reserve the right to restrict,
                  suspend or terminate any Account or access to the Platform temporarily or permanently of any User of
                  the Platform for any reason, or no reason. The reasons may include but not be limited to
                  non-compliance with applicable laws, infringement of Our intellectual property, etc. You expressly
                  acknowledge and agree that such termination will not be a breach on Our side. </p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 12--------------------------- -->
      <li>
         <h3>INDEMNITY</h3>
         <ol>
            <li>
               <p>You agree to defend, indemnify and hold harmless Us, our members, subsidiaries, officers, directors,
                  employees, agents, licensors, and suppliers, affiliates and group companies, from and against all
                  claims, actions or demands, liabilities, and settlements, that may arise, or alleged to arise due to
                  your use of the Platform or your violation of the Terms and Conditions.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 13--------------------------- -->
      <li>
         <h3>ASSIGNMENT</h3>
         <ol>
            <li>
               <p>We may assign this contract at any time to any parent, subsidiary, or any affiliated company, or as
                  part of the sale to, merger with, or other transfer of our company to another entity. We will post a
                  notice on the Platform regarding any change of ownership so that You have the opportunity to
                  discontinue your use of the Platform or cancel your registration if You do not wish to continue to use
                  the Platform and the Services under the new ownership. You may not assign, transfer or sublicense this
                  Terms and Conditions read along with the Privacy Policy to anyone else and any attempt to do so in
                  violation of this section shall be null and void.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 14--------------------------- -->
      <li>
         <h3>MISCELLANEOUS</h3>

         <ol>
            <li>
               <p><b>Entire Agreement:</b> The terms and Conditions read along with the Privacy Policy and the
                  respective amendments (if made) constitutes the entire agreement between You and Us and supersedes any
                  prior agreements whether written or oral, with respect to the subject matter herein. Any additional or
                  different terms in any order or written communications from you are void. </p>
            </li>
            <li>
               <p><b>Conflict:</b> In the event of a direct conflict between the Terms and Conditions and the Privacy
                  Policy, the Terms and Conditions shall prevail. </p>
            </li>
            <li>
               <p><b>Interpretation:</b> We have sole authority/discretion to decide the manner in which any of the
                  terms and conditions or any of the clauses of the privacy policy will be interpreted, and in case of
                  any ambiguity Our interpretation shall be final and binding on You and Us.</p>
            </li>
         </ol>
      </li>

      <!-- ---------------------------Pint 15--------------------------- -->
      <li>
         <h3>JURIDICTION AND DISPUTE RESOLUTION</h3>
         <ol>
            <li>
               <p><b>Jurisdiction:</b> Any dispute, questions, difference arising out of this agreement shall be settled
                  as per the laws applicable in India. The courts in Mumbai shall have the exclusive jurisdiction. All
                  the costs of such litigation will be borne by You. </p>
            </li>
            <li>
               <p><b>Dispute Resolution:</b> In case of any disputes arising to or related to these T&C and/or the
                  Privacy Policy, the matter will be submitted into arbitration, wherein each party will appoint an
                  arbitrator and the two appointed arbitrators will appoint a third arbitrator. The arbitration clause,
                  proceedings and law will be as per the arbitration laws prevalent in India. The venue of arbitration
                  shall be Mumbai, India. </p>
            </li>
         </ol>
      </li>

   </ol>
   <p style="padding: 5px 18px;">
      Questions seeking clarifications/interpretation of any of the terms and conditions can be sent to
      contactus@quiz2shine.com
   </p>
</ion-content>