ion-toolbar{
    text-align: center;
    color: #D3E6D6;
    .atext {
      font-weight: bold;
      color: #D3E6D6;
    }
    .ctext {
      font-weight: bold;
      color: #5EB377;
    }
    .itext {
      font-weight: bold;
      color: #D46969;
    }
  }
  .correct-count{
    color: #a9f1a9;
    font-size: 16px;
  }